<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Stuy Buddy</title>
    
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/css/fontawesome.css">
    <link rel="stylesheet" href="static/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="static/css/owl.css">
    <link rel="stylesheet" href="static/css/lightbox.css">
<!--
    
TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->
  </head>

<body>

   
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>STUDY</em> BUDDY</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="{{ url_for('profile') }}"></a></li>


        <li class="has-submenu"><a href="#section2"></a>
          <ul class="sub-menu">
            <li><a href="#section2"></a></li>
          </ul>
        </li>
        
        <li><a href="#section6"></a></li>
      </ul>
    </nav>
  </header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="static/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>Study hard, study smart, study together.</h6>
              <h2><em>Your</em> Classroom</h2>
              
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->


  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="features-post">
            <div class="features-content">
              <div class="content-show">
                <a href="{{ url_for('home') }}"> <!-- Add this anchor tag with href -->
                  <h4><i class="fa fa-comment"></i>CHAT_ROOM</h4>
                </a>
              </div>
              <div class="content-hide">
                <p>Click on this link to Enter the chat Room</p>
          
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-12">
          <div class="features-post third-features">
            <div class="features-content">
              <div class="content-show">
                <a href="real_meeting.html"> <!-- Add this anchor tag with href -->
                  <h4><i class="fa fa-users"></i>Get a mentor</h4>
                </a>
              </div>